<div class="col-md-4  container box-shadow edit shadow mb-5 bg-white rounded">
    <div class="text-white fs-5 px-3 bg-primary mt-1 ">
        <p class="p-1">Payor/Plan</p>
    </div>
<div class="d-flex justify-content-evenly mb-1  fw-semibold sec ">
    <div>
        <a href="#"   >Payor/Plan</a>
    </div>
    <div>
        <a href="#"  >Payor/PlanService</a>
    </div>
    <div>
        <a href="#" >Sandata Payor/Plan Service</a>
    </div>
</div>
<div class="bg-white">
    <form action="" class="container ">
        <fieldset>
            <legend class="mx-2 ">Payor/Plan</legend>
            <div class="d-flex ">
                <span class="p-float-label">
                    <input  id="username"  class="rounded  mx-2 mt-3  small" type="number" />
                    <label htmlFor="username" class="pt-3 px-2">client type</label>
                </span>
                <span class="p-float-label">
                    <input  id="username" class="rounded  mt-3 large " type="text"/>
                    <label  class="pt-3 px-3">client classes</label>
                </span>
            </div>
                <span class="p-float-label">
                    <textarea id="float-input" rows="4" cols="65" class="rounded mt-4 mx-2"></textarea>
                    <label class="pt-4">Summary</label>
                </span>
            <div class="d-flex">
                <span class="p-float-label">
                    <input  id="username"  class="rounded  mx-2 mt-3 " />
                    <label htmlFor="username" class="pt-3 px-2">client type</label>
                </span>
                <span class="p-float-label">
                    <input  id="username" class="rounded  mx-2 mt-3 " />
                    <label  class="pt-3 px-3">client classes</label>
                </span>
            </div>
            <span class="p-float-label mt-4 mx-2">
            <p-calendar  ></p-calendar>
            <p-calendar class="mx-2"></p-calendar>
        </span>
            <label class="text-secondary mx-2 mt-3 private-duty">Private Duty</label>
              <a class=" form-switch" >  <input class="form-check-input mt-3 " type="checkbox" role="switch" id="flexSwitchCheckDefault"  checked  disabled></a>
              <div class="text-white m-2  mt-4 ">
                <button type="button" class="text-white  w-25 bg-black mx-2 btt" > <i class="pi pi-times"></i>Cancel</button>
            </div>
        </fieldset>
    </form>
</div>
</div>




