


<button type="button" class="text-white  w-25 bg-success mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal1"> 
    <i class="pi pi-save px-1"></i>Save</button>
  

    <div class="modal fade" id="exampleModal1" 
    data-bs-backdrop="static" data-bs-keyboard="false" 
    tabindex="-1" aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-body       ">
                    <div class=" w-100   ">
                        <div class="d-flex justify-content-between bg-black text-white  px-2 fs-5  pt-2">
                            <p class="fs-5">Visit Review Attributes</p>
                            <i><i class="pi pi-times"  data-bs-dismiss="modal"></i></i>
                        </div>
                        <div class="d-flex justify-content-between text-black pt-2 ">
                            <p>Does Payor Provide a Timesheet that is  Required?</p>
                            <div class=" text-secondary">
                                <select class="form-select  fw-medium text-secondary " aria-label="Default select example">
                                    <option selected=""class="text-black">Select</option>
                                    <option value="1" class="text-black">Yes</option>
                                    <option value="2" class="text-black">No</option>
                                  </select>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between text-black ">
                            <p>PS Daily Signature Required?</p>
                            <div class="text-secondary pb-2">
                                <select class="form-select  fw-medium text-secondary " aria-label="Default select example">
                                    <option selected=""class="text-black">Select</option>
                                    <option value="1" class="text-black">Yes</option>
                                    <option value="2" class="text-black">No</option>
                                  </select>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between text-black  ">
                            <p>DCS Daily Signature Required?</p>
                            <div class="text-secondary pb-2">
                                <select class="form-select  fw-medium text-secondary " aria-label="Default select example">
                                    <option selected=""class="text-black">Select</option>
                                    <option value="1" class="text-black">Yes</option>
                                    <option value="2" class="text-black">No</option>
                                  </select>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between text-black  ">
                            <p>PS Weekly Signature Required?</p>
                            <div class="text-secondary pb-2">
                                <select class="form-select  fw-medium text-secondary " aria-label="Default select example">
                                    <option selected=""class="text-black">Select</option>
                                    <option value="1" class="text-black">Yes</option>
                                    <option value="2" class="text-black">No</option>
                                  </select>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between text-black  ">
                            <p>DCS Weekly Signature Required?</p>
                            <div class="text-secondary pb-2">
                                <select class="form-select  fw-medium text-secondary " aria-label="Default select example">
                                    <option selected=""class="text-black">Select</option>
                                    <option value="1" class="text-black">Yes</option>
                                    <option value="2" class="text-black">No</option>
                                  </select>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between text-black  ">
                            <p>Tasks Required?</p>
                            <div class="text-secondary pb-2">
                                <select class="form-select  fw-medium text-secondary " aria-label="Default select example">
                                    <option selected=""class="text-black">Select</option>
                                    <option value="1" class="text-black">Yes</option>
                                    <option value="2" class="text-black">No</option>
                                  </select>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between text-black  ">
                            <p>Progress Notes Required?</p>
                            <div class="text-secondary pb-2">
                                <select class="form-select  fw-medium text-secondary " aria-label="Default select example">
                                    <option selected=""class="text-black">Select</option>
                                    <option value="1" class="text-black">Yes</option>
                                    <option value="2" class="text-black">No</option>
                                  </select>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between text-black  ">
                            <p>Supervisor Sign off Required?</p>
                            <div class="text-secondary pb-2">
                                <select class="form-select  fw-medium text-secondary " aria-label="Default select example">
                                    <option selected=""class="text-black">Select</option>
                                    <option value="1" class="text-black">Yes</option>
                                    <option value="2" class="text-black">No</option>
                                  </select>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between text-black ">
                            <p>Documentation Required to be sent to Hub/Payor?</p>
                            <div class=" text-secondary">
                                <select class="form-select  fw-medium text-secondary " aria-label="Default select example">
                                    <option selected=""class="text-black">Select</option>
                                    <option value="1" class="text-black">Yes</option>
                                    <option value="2" class="text-black">No</option>
                                  </select>
                            </div>
                        </div>
                    </div>
               </div> 
          </div>
        </div>
      </div>
 












