<div class="d-flex view justify-content-center ">
    <div class="col-md-4  shadow mb-5 bg-white rounded ">
        <div class="d-flex justify-content-between bg-black text-white pt-2 px-2 fs-5 border">
            <p class="fs-5">Visit Review Attributes</p>
            <i><i class="pi pi-times"></i></i>
        </div>
        <div class="d-flex justify-content-between text-black pt-2 container ">
            <p>Does Payor Provide a Timesheet that is Required?</p>
          
            <div class=" text-secondary">
                <select class="form-select  fw-medium text-secondary " aria-label="Default select example">
                    <option selected=""class="text-black">Select</option>
                    <option value="1" class="text-black">Yes</option>
                    <option value="2" class="text-black">No</option>
                   
                  </select>
            </div>
        </div>
        <div class="d-flex justify-content-between text-black pt-2 container ">
            <p>PS Daily Signature Required?</p>
            <div class="text-secondary pb-2">
                <select class="form-select  fw-medium text-secondary " aria-label="Default select example">
                    <option selected=""class="text-black">Select</option>
                    <option value="1" class="text-black">Yes</option>
                    <option value="2" class="text-black">No</option>
                   
                  </select>
            </div>
        </div>
        <div class="d-flex justify-content-between text-black pt-2 container ">
            <p>DCS Daily Signature Required?</p>
            <div class="text-secondary pb-2">
                <select class="form-select  fw-medium text-secondary " aria-label="Default select example">
                    <option selected=""class="text-black">Select</option>
                    <option value="1" class="text-black">Yes</option>
                    <option value="2" class="text-black">No</option>
                   
                  </select>
            </div>
        </div>
        <div class="d-flex justify-content-between text-black pt-2 container ">
            <p>PS Weekly Signature Required?</p>
            <div class="text-secondary pb-2">
                <select class="form-select  fw-medium text-secondary " aria-label="Default select example">
                    <option selected=""class="text-black">Select</option>
                    <option value="1" class="text-black">Yes</option>
                    <option value="2" class="text-black">No</option>
                   
                  </select>
            </div>
        </div>
        <div class="d-flex justify-content-between text-black pt-2 container ">
            <p>DCS Weekly Signature Required?</p>
            <div class="text-secondary pb-2">
                <select class="form-select  fw-medium text-secondary " aria-label="Default select example">
                    <option selected=""class="text-black">Select</option>
                    <option value="1" class="text-black">Yes</option>
                    <option value="2" class="text-black">No</option>
                   
                  </select>
            </div>
        </div>
        <div class="d-flex justify-content-between text-black pt-2 container ">
            <p>Tasks Required?</p>
            <div class="text-secondary pb-2">
                <select class="form-select  fw-medium text-secondary " aria-label="Default select example">
                    <option selected=""class="text-black">Select</option>
                    <option value="1" class="text-black">Yes</option>
                    <option value="2" class="text-black">No</option>
                   
                  </select>
            </div>
        </div>
        <div class="d-flex justify-content-between text-black pt-2 container ">
            <p>Progress Notes Required?</p>
            <div class="text-secondary pb-2">
                <select class="form-select  fw-medium text-secondary " aria-label="Default select example">
                    <option selected=""class="text-black">Select</option>
                    <option value="1" class="text-black">Yes</option>
                    <option value="2" class="text-black">No</option>
                   
                  </select>
            </div>
        </div>
        <div class="d-flex justify-content-between text-black pt-2 container ">
            <p>Supervisor Sign off Required?</p>
            <div class="text-secondary pb-2">
                <select class="form-select  fw-medium text-secondary " aria-label="Default select example">
                    <option selected=""class="text-black">Select</option>
                    <option value="1" class="text-black">Yes</option>
                    <option value="2" class="text-black">No</option>
                   
                  </select>
            </div>
        </div>
        <div class="d-flex justify-content-between text-black pt-2 container ">
            <p>Documentation Required to be sent to Hub/Payor?</p>
            <div class=" text-secondary">
                <select class="form-select  fw-medium text-secondary " aria-label="Default select example">
                    <option selected=""class="text-black">Select</option>
                    <option value="1" class="text-black">Yes</option>
                    <option value="2" class="text-black">No</option>
                   
                  </select>
            </div>
        </div>
    </div>
</div>
