

 

// Color Variables

$white: #fff;

$black: #000;

$text:#808080;

$red:#ff0000;

$button:#76bd43;

$yellow:#c49f47;

$bottom-text:#145194cc;

$login-text:#cbcbcb;

$setting-icon:rgba(80, 80, 80, 0.8);

$box-Discrepancy:#a1f863;

$Invalid-Caller-ID:#ff7979;

$table-body:#f7fafc;

$button-background-color: #e4f2d9;

$test-button:#00adf0;

$button-bg-color:#e0e3e4;

$btn-light:#e4f2d9;

$black-heading:#050505;

$strip-color:#f1f1f1;

$color-green:#008000;

$prime-green:#00E64D;

$color-textdropdown:#dddddd;

$shadow-color:#ccc;

$darker-grey:#666;

$bg-light-grey:#f8f9fa;

$link-color:#3371d8;

$sidebar-bg:#444444;

$switch-bg:#bdc1c8;

$gold-yellow:#a88746;

$text-danger:#ff110a;

$prime-green:#449d44;

$overlay-transparent:#080808bd;

$border-grey:#454d55;

$invalid-red:#dc3545;

$input-grey-bg:#e9ecef;

$filter-placeholder-clr:#6c757d;

$red-light:#fd7567;

$yellow-light:#fdf569;

$info-light-blue:#6dcef2;

$pink-light:#fff0f0;

$light-green:#d5fdff;

 

// CSS-Dashboard Color Variables

$dashboard-blue:#4285F4;

$green:#76bd43;

$section-bg:#f7fafc;

$heading-bg:#343a40;

$peach:#f24a7b;

$blue:#145194;

$bg-blue-light:#66b3ff;

$border-blue:#06366b;

$bg-blue-dark:#1a5092;

$link-blue:#6890fa;

$blue-light:#009ccc;

$blue-light-800:#2b78e4;

 

//file upload

$file-border-color:#dce4ec;

$file-text-color:#34495e;

 

// Meadia Variables

$screen-lg: 1200px;

$screen-md: 991px;

$screen-sm: 767px;

$screen-xs: 580px;

$screen-xxs: 365px;

$screen-size-xs:420px;









$white:#fff;
$grey:#efefef;

$primary:#0089d1;
$primary-800:#33a9e7;
$black:#000