.cn-cot{
    width: 42%;
    border: 1px solid rgb(238, 235, 235);
    box-shadow: 3px,3px,3px,3px,rgb(164, 164, 164);
 
   
    .check{
        width: 50px;
        height: 25px;
        background-color: rgb(130, 132, 130);
        // color: rgb(41, 212, 75);
        outline: none;
        border: 1px solid rgb(66, 201, 66);
    }
 
.con-input input {
    height: 35px;
    width: 200px;
    background-color: rgb(189, 200, 209)
}
.con-input a input {
    height: 28px;
    width: 70px;
    background-color: rgb(189, 200, 209)
}
.p-float-label label{
    font-size: 13px;
    font-weight: 400;
}
button {
    @include border-radius(0px, 10px, 0px, 10px);
    height: 37px;
    width: 150px;
    // background-color: rgb(54, 213, 115);
    outline: none;
    border: none;
}
input{
    outline: none;
    border: 1px solid rgb(189, 200, 209)
 
}
 
legend{
    font-size: 13px;
    font-weight: 600;
}
 
fieldset {
    border: 1px solid rgb(231, 228, 228);
 
}
 
.switch{
 margin-left: 150px;
}
.pi{
    font-size: 12px;
    font-weight: 600;
}
.inputswitch label{
    color: gray;
    font-size: 13px;
    font-weight: 600;
}
.blur{
    color: gray;
    width: 20px;
}
}