.edit{
    width: 42%;
    // border: 1px solid rgb(238, 235, 235);
    box-shadow: 3px,3px,3px,3px,rgb(164, 164, 164);
 
    


input {
    height: 35px;
    background-color: rgb(189, 200, 209)
}
.form-check-input{
    width: 50px;
    height: 25px;
    background-color:  rgb(189, 200, 209);
    color: white;
    outline: none;
    border: 1px solid  rgb(189, 200, 209)
}
input{
    outline: none;
    border: 1px solid rgb(189, 200, 209)
 
}
textarea{
    border: 1px solid rgb(189, 200, 209);
    background-color: rgb(189, 200, 209);
    outline: none;
}
legend{
    font-size: 13px;
    font-weight: 600;
}


a{
    text-decoration: none;
    color: rgb(89, 90, 90)
}
 a:hover{
  color: green
}
.btt {
    @include border-radius(0px, 10px, 0px, 10px);
    height: 37px;
    width: 60px;
    background-color: rgb(54, 213, 115);
    outline: none;
    border: 1px solid rgb(21, 117, 58);
}
.p-float-label input{
    width: 220px;
    height: 35px;
}
.p-float-label label{
    font-size: 13px;
    font-weight: 400;
    height: 35px;
}
.p-float-label .large{
    width: 286px;
    height: 35px;
}
.p-float-label .small{
    width: 140px;
    border: none;
    background-color: none;
    height: 35px;
}
.large{
    width: 286px;
}
.planname{
    width: 40%;
   
}

}
.pointer {
    cursor: pointer;
}
.table-responsive{
    height: 60vh;
    overflow: auto;
}

