.payor-paln {
  .p-dropdown {
    width: 17%;
    background: #f2f2ec;
    height: 40px;
    outline: none;
  }  
  p{
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
  }
  p-dropdown{
    outline: none;
  }
}
