.view{
    height: 50%;
    select{
        background-color: rgb(213, 213, 212);
        outline: none;
        width: 200px !important;
        // border: 1px solid rgb(188, 184, 184);
    }
    option{
        background-color: white;

    }
    p{
        font-size: 13px;
        font-weight: 600;
       
    }

}