


<div class="pdropdown">
    <span class="p-float-label">
    <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Country">
        <ng-template pTemplate="selectedItem" >
            <div class="flex align-items-center w-50" *ngIf="selectedCountry">
           
                <div>{{ selectedCountry.name }}</div>
            </div>
        </ng-template>
        <ng-template let-country pTemplate="item">
            <div class="flex align-items-center gap-2">
               
                <div>{{ country.name }}</div>
            </div>
        </ng-template>
    </p-dropdown>
    <label >Site</label>
</span>
<p>please select site to view or edit the data</p>
</div>
